.navbar{
    display: block;
    clear: both;
    position: fixed !important;
}

.sesion a:hover {
    color: white;
}

.sesion a{
    color: white;
    text-decoration: none;
    content: "\f2f5";
}

.header{
    text-align: center;
    margin-top: 80px;   
}

.container#cuestionario{
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-check{
    margin-left: 15px;
}